global

  {% if haproxy.logs is defined %}
  {% for log in haproxy.logs %}
  log {{ log }}
  {% endfor %}
  {% endif %}

  {% for key, value in haproxy.global.items() %}
  {{ key }} {{ value }}
  {% endfor %}

defaults

  {% for key, value in haproxy.defaults.items() %}
  {{ key }} {{ value }}
  {% endfor %}

  {% for key, value in haproxy.timeout.items() %}
  {{ key }} {{ value }}
  {% endfor %}

  {% for frontend in haproxy.frontend %}
  frontend {{ frontend }}
  {% for key, value in frontend.items() %}
    {{ key }} {{ value }}
  {% endfor %}
  {% endfor %}

  {% for backend in haproxy.backend %}
  backend {{ backend }}
  {% for key, value in backend.items() %}
    {% if value is mapping %}
    {% for option in haproxy.backend[key] %}
    {{ key }} {{ option }}
    {% endfor %}
    {% else %}
    {{ key }} {{ value }}
    {% endif %}
  {% endfor %}
  {% endfor %}

{% for listener in haproxy.listen %}
  listen {{ listener }}
  {% for key, value in listener.items() %}
  {% if value is mapping %}
  {% for property, attribute in value.items() %}
      {{ property }} {{ attribute }}
  {% endfor %}
  {% else %}
      {{ key }} {{ value }}
  {% endif %}
 {% endfor %}
{% endfor %}
